div {
  background: #fff;
  height: 685px;
  // max-height: 685px;

  > section {
    &:first-child {
      height: 75px;

      > article {
        padding: 0 20px 0 20px;

        > mat-form-field {
          margin-top: 7.5px;
          width: 100%;
        }
      }
    }

    &:nth-child(2) {
      height: calc(100% - 135px);
      overflow-y: auto;

      mat-table {
        height: 100%;

        mat-header-row > .mat-column-title {
          flex-grow: 2.5;
          margin-right: 10px;
        }

        mat-row > .mat-column-title {
          flex-grow: 2.5;
          margin-right: 10px;
        }

        img {
          height: 40px;
          max-width: 60px;
        }

        button {
          width: 100px;
        }
      }
    }

    &:nth-child(3) {
      mat-paginator {
        height: 60px;
      }
    }
  }
}
