@import "~@angular/material/theming";
@import "./style-variables/colors.scss";

// Overriding default Angular Material variables.
$custom-typography: mat-typography-config(
  $font-family: "Muli",
);

@include angular-material-typography($custom-typography);

html,
body {
  height: 100%;
  margin: 0;
}
