@import "~@angular/material/theming";
@import "./style-variables/colors.scss";

// Overriding default Angular Material variables.
$custom-typography: mat-typography-config(
  $font-family: "Titillium Web",
);

@include angular-material-typography($custom-typography);

html,
body {
  height: 100%;
  margin: 0;
}

h3 {
  font-weight: 400;
  margin: 0;
}

button {
  &.small {
    font-size: 13px;
    height: 30px;
    line-height: 30px;

    > span {
      line-height: 30px;
    }
  }
}
