<main>
  <section class="header-section">
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      ></button>
      <span>Movie Nominations</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </section>

  <notification></notification>

  <section class="main-section">
    <result-panel
      [movies]="movies$ | async"
      [total]="numOfResults$ | async"
      [page]="page$ | async"
      [nominatedMovies]="nominatedMovies$ | async"
      [searchTerm]="searchTerm$ | async"
      (enterSearch)="handleEnterSearch($event)"
      (clearSearch)="handlecClearSearch()"
      (nominateMovie)="handleNominateMovie($event)"
      (changePage)="handleChangePage($event)"
    ></result-panel>

    <nomination-panel
      [nominatedMovies]="nominatedMovies$ | async"
      (removeNominatedMovie)="handleRemoveNominatedMovie($event)"
    >
    </nomination-panel>
  </section>
</main>
