main {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .main-section {
    display: flex;
    flex-direction: row;
    width: 1300px;
    justify-content: space-between;
    margin: auto;
  }
}
