<main>
  <section class="header-section">
    <mat-toolbar color="primary">
      <!-- <button mat-icon-button></button> -->
      <span>Movie Nominations</span>
    </mat-toolbar>
  </section>

  <section class="notification-section">
    <notification></notification>
  </section>

  <section class="main-section">
    <result-panel
      [movies]="movies$ | async"
      [total]="numOfResults$ | async"
      [page]="page$ | async"
      [nominatedMovies]="nominatedMovies$ | async"
      [searchTerm]="searchTerm$ | async"
      (enterSearch)="handleEnterSearch($event)"
      (clearSearch)="handlecClearSearch()"
      (nominateMovie)="handleNominateMovie($event)"
      (changePage)="handleChangePage($event)"
    ></result-panel>

    <nomination-panel
      [nominatedMovies]="nominatedMovies$ | async"
      (removeNominatedMovie)="handleRemoveNominatedMovie($event)"
    >
    </nomination-panel>
  </section>
</main>
