main {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header-section {
    mat-toolbar {
      padding: 0 50px 0 50px;
    }
  }

  .notification-section {
    width: 100%;

    > notification {
      margin: 0 30px 0 30px;
    }
  }

  .main-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 0;
    margin: 0 30px 0 30px;
    padding: 20px 0 20px 0;

    > result-panel,
    nomination-panel {
      margin: 10px 0 10px 0;
      min-width: 475px;
      width: 100%;
    }
  }

  @media only screen and (min-width: 1024px) {
    .main-section {
      display: flex;
      height: 100%;
      flex-direction: row;
      justify-content: space-between;

      > result-panel,
      nomination-panel {
        height: 100%;
        margin: 0;
        width: 48%;
      }
    }
  }

  @media only screen and (max-width: 640px) {
    .header-section {
      mat-toolbar {
        padding: 0 20px 0 20px;
      }
    }

    .notification-section {
      > notification {
        margin: 0;
      }
    }
    .main-section {
      margin: 0;
      padding: 10px 0 0 0;
    }
  }
}
