div {
  background: #fff;
  height: 100%;
  max-height: 685px;

  > section {
    &:first-child {
      height: 75px;

      > article {
        align-items: center;
        display: flex;
        line-height: 75px;
        justify-content: space-between;
        padding: 0 20px 0 20px;
      }
    }

    &:nth-child(2) {
      height: calc(100% - 135px);
      overflow-y: auto;

      mat-table {
        .mat-header-row > .mat-column-title {
          flex-grow: 2.5;
          margin-right: 10px;
        }

        mat-row > .mat-column-title {
          flex-grow: 2.5;
          margin-right: 10px;
        }

        img {
          height: 40px;
          max-width: 60px;
        }

        button {
          width: 100px;
        }
      }
    }

    &:last-child {
      height: 60px;

      > article {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        padding: 0 20px 0 20px;
      }
    }
  }
}
