$black-lighter: rgb(38, 37, 39);
$black: rgb(41, 40, 42);
$black-darker: rgb(44, 43, 45);

$white: rgb(241, 240, 242);
$white-darker: rgb(226, 225, 227);

$indigo-lighter: #9fa8da;
$indigo: #5c6bc0;
$indigo-darker: #4150a8;

$bg-color: $black;
$text-color: $white;
$primary-color: $indigo;
