div {
  background: #fff;
  height: 500px;

  > section {
    &:first-child {
      height: 75px;

      > article {
        padding: 0 20px 0 20px;

        > mat-form-field {
          margin-top: 7.5px;
          width: 100%;
        }
      }
    }

    &:nth-child(2) {
      mat-table {
        overflow: auto;
        height: 365px;

        mat-header-row > .mat-column-title {
          flex-grow: 2;
        }

        mat-row > .mat-column-title {
          flex-grow: 2;
        }

        img {
          height: 30px;
        }

        button {
          width: 100px;
        }
      }
    }

    &:nth-child(3) {
      mat-paginator {
        height: 60px;
      }
    }
  }
}
